body {
    margin: 0;
    padding: 0;
}

.container-header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 8px 100px;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container-header .header h1 {
    color: #f9faf8;
    font-size: 24px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #e5e7ebcf;
}

a:hover {
    color: #3882f6;
}

.container-header .header ul {
    color: #e5e7eb;
    list-style: none;
    display: flex;
    gap: 16px;

}

.container-header .hero {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;

}

.container-header .hero .main {
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: flex-start;

}

.main button {
    color: #e5e7eb;
    background-color: #3882f6;
    font-size: 20px;
    padding: 0;
    margin: 8px 0;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: 0;
}

.container-header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 800;
    margin: 0;
}

.container-header p {
    color: #e5e7eb;
    font-size: 18px;
    margin: 0;
}

.hero img {
    height: auto;
    width: 600px;
}

.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-content h1 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 800;
}

.container-content .cards {
    display: flex;
    align-items: center;
    padding: 8px 100px;
}

.container-content .cards .card img {
    height: auto;
    width: 300px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.container-content .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    text-align: center;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
    padding: 100px 200px;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote h3 {
    text-align: end;
    font-size: 32px;

}

.container-signup {
    background-color: #3882f6;
    display: flex;
    color: #e5e7eb;
    border-radius: 10px;
    margin: 80px 100px;
    padding: 50px 100px;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
}

.container-signup h1 {
    margin: 0;
}

.container-signup p {
    margin: 0;
    font-size: 18px;
}
.container-signup button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 20px;
    border-radius: 8px;
    height: 50px;
    width: 150px;
    border: 5px solid #e5e7eb;
}

.container-footer {
    background-color: #1f2937;
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100px;
}